<footer>
  <div class="footer-container">
      <!-- Première colonne: Logo -->
      <div class="footer-logo">
        <div class="logo-container">
          <img src="/assets/adepro_logo_trans.png" alt="Logo de l'entreprise">
          <img src="/assets/cropped-logo_baseline.png" alt="Logo de l'entreprise">
      </div>
      </div>

      <!-- Deuxième colonne: Lieu de l'entreprise + lien du site -->
      <div class="footer-info">
          <h3>Où nous trouver</h3>
          <p>10 Rue de la République, 13001 Marseille, France</p>
          <p><a href="https://www.adepro-consultant.fr/" target="_blank">Visitez notre site</a></p>
      </div>

      <!-- Troisième colonne: Politique de confidentialité + À propos -->
      <div class="footer-links">
          <h3>Liens utiles</h3>
          <ul>
              <li><a href="confidentialite">Politique de confidentialité</a></li>
              <li><a href="Apropos">À propos</a></li>
          </ul>
      </div>
  </div>
</footer>