<nav class="navbar">
    <div class="navbar-container">
      <div class="logo"><img src="assets/adepro_logo_trans.png"></div>
      <ul class="nav-links">
        <li><a href="#">Accueil</a></li>
        <li><a href="ingredients">Ingrédients</a></li>
        <li><a href="recettes">Recettes</a></li>
        <li><a href="Créer">Créer Ingrédients</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
       <!-- Authentification avec volet déroulant -->
    <div class="auth-buttons">
      <!-- Si l'utilisateur est connecté, afficher son nom -->
      <div class="user-info">
        <span class="user-name" onclick="toggleDropdown()">Jean Dupont</span>
        <div id="user-dropdown" class="dropdown-content">
          <a href="#">Voir mon compte</a>
          <a href="#">Se déconnecter</a>
          <a href="#">créer un compte</a>
        </div>
      </div>
      <!-- Sinon afficher les boutons de connexion -->
     
    </div>
    </div>
  </nav>
  