/* Style général pour le conteneur des sections de texte */
.text-sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-left, .text-right {
    width: 48%;
}

.text-left {
    padding-right: 20px;
}

.text-right {
    padding-left: 20px;
}

/* Style pour le titre */
h2 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    text-align: center;      /* Centre le texte à l'intérieur de l'élément */
    color: #6f42c1;          /* Couleur violette pour correspondre au thème */
    font-weight: bold;       /* Texte en gras */
    margin: 0 auto;          /* Centre le titre horizontalement */
    padding: 20px 0;         /* Ajoute un peu d'espace autour du titre */
    width: 220%;             /* Occupe toute la largeur disponible */
}

/* Style pour le tableau */
table.ingredients-table {
    max-width: 400px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style pour les en-têtes du tableau */
table.ingredients-table th {
    background-color: #6f42c1;
    color: white;
    text-align: center;  /* Centrage du texte dans les en-têtes */
    padding: 30px;
    border: 1px solid black;
    font-weight: bold; 
}

/* Style pour les cellules du tableau */
table.ingredients-table td {
    padding: 12px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;   /* Centrage du texte dans les cellules */
}

/* Style pour les lignes alternées du tableau */
table.ingredients-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style pour les messages de chargement et d'erreur */
.loading-message, .error-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.error-message {
    color: red;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les boutons */
    margin-top: 20px; /* Espace au-dessus des boutons */
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 0; /* Supprime le padding du bouton pour que le lien prenne toute la place */
    background-color: #6f42c1; /* Couleur de fond du bouton */
    border: none;
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Transition fluide */
    overflow: hidden; /* Empêche le débordement du lien */
  }
  
  .btn a {
    display: block; /* Fait du lien un bloc pour qu'il prenne toute la place du bouton */
    padding: 15px 30px; /* Espacement interne du lien */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    text-align: center; /* Centre le texte */
  }
  
  .btn:hover {
    background-color: grey;
    
  }
  
  .btn:hover a {
    color: #6f42c1;
  }