<body>
<div class="container">
    <!-- Partie Texte Divisée en 2 -->
    <div class="text-sections">
        <div class="text-left">
          <h3>L'intérêt de cette page Internet</h3>
          <p>L'intérêt de faire cette page avec les ingrédients des savons c'est de nous améliorer en API et a l'utilisation d'Angular.</p>
        </div>
        <div class="text-right">
          <h3>La collaboration !</h3>
          <p>Le lycée Léonard de Vinci est en partenariat avec l'entreprise Adepro qui nous permet de réaliser ce TP.</p>
        </div>
      </div>
      <div class="logo"><img src="assets/Logo-Sav-App-02.jpeg"></div>

  </div>
</body>